@page "/"
@implements IDisposable
@using BrotherQlMqttHub.Services
@using BrotherQlMqttHub.ViewModels
@using Microsoft.Extensions.DependencyInjection
@using System.Reactive.Linq
@using System.Threading
@using System.Diagnostics
@inject PrinterMonitor monitor
@inject CategoryManager catManager 

<h3>Brother QL Label Printer MQTT Hub</h3>

<p>
    This is a central hub for managing multiple Brother QL label printers connected through a central MQTT broker. 
    Printers can be assigned with tags that can be used by client services to discover them and send jobs to them.
</p>

@foreach (var p in _printers.Values.OrderBy(x => x.Serial))
{
    <RadzenCard>
        <h4>@p.Model (@p.Serial)</h4>
        <div class="row">
            @if (p.IsOnline)
            {
                <div class="col">Online</div> 
                <div class="col">Media @p.MediaType</div> 
                <div class="col">@p.MediaWidth mm</div> 
                <div class="col">@p.Host</div> 
                <div class="col">@p.HostIp</div> 
            }
            else
            {
                <div class="col">Offline (last seen @p.LastSeen)</div>
            }
        </div>
        
        @if (_categories is not null)
        {
            @foreach (var cat in _categories.Values.OrderBy(c => c.Name))
            {
                <div class="m-3">
                    <h5>@cat.Name</h5>
                    <RadzenDropDown TValue="ITagView"
                                    TextProperty="Name"
                                    Change="@(o => OnChange(p.Serial, o))"
                                    @bind-Value="@_tagSelections[p.Serial][cat.Id]"
                                    Data="@_tagOptions[cat.Id]"/>

                </div>
            }
        }
 
    </RadzenCard>

    <br />
}


@code
{
    private Dictionary<string, PrinterViewModel> _printers;
    private Dictionary<int, List<ITagView>> _tagOptions;
    private Dictionary<string, Dictionary<int, ITagView>> _tagSelections;
    private Dictionary<int, ICategoryView> _categories;

    private IDisposable _printerUpdates;
    private IDisposable _categoryUpdates;


    protected override async Task OnInitializedAsync()
    {
        _tagOptions = new Dictionary<int, List<ITagView>>();
        _tagSelections = new Dictionary<string, Dictionary<int, ITagView>>();

        _printers = monitor.GetPrinters().ToDictionary(p => p.Serial, p => p);
        _printerUpdates = monitor.PrinterUpdates
            .ObserveOn(SynchronizationContext.Current)
            .Subscribe(ReceivePrinter);

        _categories = (await catManager.GetCategories()).ToDictionary(c => c.Id, c => c);
        _categoryUpdates = catManager.CategoryUpdates
            .ObserveOn(SynchronizationContext.Current)
            .Subscribe(ReceiveCategory);

        await UpdateEverything();

    }

    private async void OnChange(string printerSerial, object tagView)
    {
        var tag = tagView as ITagView;

        await monitor.SetPrinterTag(printerSerial, tag.Id);
    }

    private async void ReceivePrinter(PrinterViewModel update)
    {
        _printers[update.Serial] = update;

        await UpdateEverything();
    }

    private async void ReceiveCategory(ItemUpdate<ICategoryView> update)
    {
        if (update.IsDelete)
        {
            _categories.Remove(update.Item.Id);
        }
        else
        {
            _categories[update.Item.Id] = update.Item;
        }

        await UpdateEverything();
    }

    private async Task UpdateEverything()
    {
        if (_categories is null) return;

        _tagOptions.Clear();
        foreach (var cat in _categories)
        {
            _tagOptions[cat.Value.Id] = cat.Value.ToOptions();
        }

        _tagSelections.Clear();
        foreach (var p in _printers.Values)
        {
            _tagSelections[p.Serial] = new Dictionary<int, ITagView>();

            foreach (var cat in _categories.Values)
            {
                int? selectedTagId = p.Tags.ContainsKey(cat.Id) ? (int?)p.Tags[cat.Id] : null;
                var selectedTag = _tagOptions[cat.Id][0];
                if (selectedTagId is not null)
                {
                    selectedTag = _tagOptions[cat.Id].First(t => t.Id == selectedTagId);
                }

                _tagSelections[p.Serial][cat.Id] = selectedTag;
            }
        }

        StateHasChanged();

    }

    public void Dispose()
    {
        _printerUpdates?.Dispose();
        _categoryUpdates?.Dispose();
    }
}
